@import '../../base.less';
.index-container{
  height: 100%;
  overflow: auto;
  padding: @basePadding;
  background: @white;
  box-sizing: border-box;
  .save-time{
    color: @baseTextColor;
    text-align: center;
    height: 200px;
    line-height: 200px;
    font-size: 24px;
  }
}
